.gm-style .gm-style-iw a {
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    #selected-stop-popup {
        color: black;
    }
}

a {
    color: inherit;
}

.map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*width: 100vw;*/
    /*height: 100vh;*/
}